[Unit]
Description=ngIRCd IRC Daemon
After=network.target

[Service]
Type=simple
User=irc
Group=irc
PIDFile=/run/ngircd/ngircd.pid
WorkingDirectory=/var/lib/ngircd
ExecStart=/usr/bin/ngircd -n -f /etc/ngircd.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

# Sécurise l’environnement
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
